/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */

/* Base styles */

/* Theme color change */

/* Header */

/* Header JavaScript Styles */

/* Search */

/* Form JavaScript Styles */

/* Features Articles */

/* Features Articles - Sidebar */

/* Quick Read */

/* Quick Read  - Swiper */

/* Older Post */

/* Popular Tags */

/* Newletter */

/* Footer */

/* Blog Post */

/* Media Queries */